[2018-12-12 16:10] kmpaul opened #1 "Move `dask-mpi` out of distributed codebase"
@mrocklin Created this repository to move the `dask-mpi` code out of `distributed`.  Obviously, it should go here.

[2018-12-12 16:21] kmpaul opened #2 "Functional initialization"
This is essentially a move of dask/distributed#2402 to this repository.

As a quick summary, the idea is to make it possible to launch the dask network (scheduler and workers) from within an existing MPI environment (i.e., having run the script with `mpirun`).  Launching should be as simple as:

[code]

And the dask network should be launched from within the `my_dask_script.py` file from an import

[2018-12-13 00:36] kmpaul commented on #1
I have now copied the `distributed/cli/dask_mpi.py` and its test file `distributed/cli/tests/test_dask_mpi.py` into the `dask_mpi/cli/` directory, moving all of the associated commit history with those files.

[2018-12-13 00:56] mrocklin commented on #1
I think it's fine to drop history here if it makes you more productive, and
just point to the commit in the dask/distributed repository where you
copied from.

I say this because I *think* that I'm mostly the person who set up dask-mpi
and because it's mostly pretty small.

On Wed, Dec 12, 2018 at 7:36 PM Kevin Paul <notifications@github.com> wrote:

[2018-12-13 13:32] mrocklin commented on #1
Great.  Lets keep it.

On Wed, Dec 12, 2018 at 11:21 PM Kevin Paul <notifications@github.com>
wrote:

[2018-12-13 17:40] kmpaul commented on #1
**Update:**
I believe that the `master` branch of `dask-mpi` now has `dask_mpi/cli/dask_mpi.py` and its corresponding test `dask_mpi/cli/tests/test_dask_mpi.py` in place and working.  I've updated the `setup.py` script to include the `entry_point` for the `dask-mpi` command line tool.

Along the way, I noticed a problem related to OpenMPI on MacOS.  It turns out that declaring `mpi4py` as a depend

[2018-12-20 20:21] #1 closed

[2018-12-20 20:22] kmpaul commented on #2
Closed with PR #6.

[2018-12-20 20:22] #2 closed

[2018-12-20 20:26] kmpaul opened #7 "Enable CircleCI testing"
I have a `.circleci/config.yml` file in place, but this should be reviewed before deployment.

Also, we might need the recent changes to `dask/distributed` to be released before we enable CI.

[2018-12-20 20:27] kmpaul opened #8 "Documentation"
Need to port over the original `dask-mpi` documentation from `distributed`.  Then need to add documentation for the new `initialize` feature of `dask-mpi`.

[2018-12-20 20:32] kmpaul opened #9 "MPICluster"
After the first implementation of the `initialize` function, making it possible to launch a Dask cluster from within the client script by using `mpi4py`, it seems like the natural next step is to implement an `MPICluster` object so that the canonical client script operational model of:

[code]

will work the same way that calling `initialize` works.

[2018-12-21 16:22] kmpaul commented on #7
Should I use TravisCI, instead?  The rest of the Dask projects seem to use Travis.  I’m happy to use Travis. It doesn’t matter to me.

[2018-12-21 17:15] kmpaul commented on #7
Circle it is, then!

[2018-12-26 15:50] kmpaul commented on #7
@mrocklin Can you add the dask-mpi project to CircleCI?  Only the project admin can do it.

[2018-12-26 17:03] mrocklin commented on #7
I think that this is done.  https://circleci.com/gh/dask/workflows/dask-mpi

On Wed, Dec 26, 2018 at 7:50 AM Kevin Paul <notifications@github.com> wrote:

[2018-12-26 17:03] mrocklin commented on #7
(though I'm not super familiar here, and so could be wrong)

On Wed, Dec 26, 2018 at 9:03 AM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2018-12-26 20:06] #7 closed

[2018-12-27 14:06] kmpaul commented on #8
Documentation viewable at http://dask-mpi.readthedocs.io/

[2018-12-27 14:06] #8 closed

[2018-12-27 21:16] mrocklin opened #13 "Route mpi.dask.org to dask-mpi.readthedocs.io"
@aterrel would it be possible to have mpi.dask.org route to dask-mpi.readthedocs.io ?

[2018-12-28 16:02] kmpaul commented on #9
Recording some more thoughts on this:

I think that the `MPICluster.__init__` method could effectively perform what the `initialize` function already performs.  In fact, as a first pass, you could just have `MPICluster.__init__` call `initialize`.  Naively,  I would like the `send_close_signal` function that is currently being registered with `atexit` to be moved to a `MPICluster.close` method.  I

[2018-12-28 16:44] mrocklin commented on #9
Is there a particular motivation behind having an `MPICluster` class?  The initialize method seems sufficient to me.

[2018-12-28 21:09] kmpaul commented on #9
The only reason I wanted to consider this option is that I like the pattern:

[code]

...with the Client initializing from the Cluster object.  I realize that the `dask_mpi.initialize` method is very similary...but it's not OO.  And I like OO.

I'll leave this issue open, just in case some development makes this possible, but I agree that an `MPICluster` class is not actually necessary.

[2019-01-03 03:43] mrocklin opened #15 "Release?"
This seems usable?  Should we release?

@kmpaul I'm happy to walk you through this if you like or just handle it for you.

[2019-01-03 14:49] kmpaul commented on #15
I would love a walkthrough.  I've done releases on GitHub before (obviously), and I've published to PyPI.  I'm in the middle of trying to get a package published to conda-forge, but it has not been successful, yet.  So, if you can provide guidance on how this should be done for `dask-mpi`, that would be great!

[2019-01-03 16:01] mrocklin commented on #15
Happy to screenshare sometime this morning.  I'm free most of the day.

In the meantime, here are the steps that I would do.

1.  Tag a release and push to github

        git tag -a 1.0.0 -m "Version 1.0.0"
        git push origin master --tags

2.  Build and publish release on PyPI

[code]

3.  Build conda recipe

    fork github.com/conda-forge/staged-recipes
[code]

    -  set package name and

[2019-01-03 16:19] kmpaul commented on #15
Ok.  I think that seems reasonable.  I've done most of this before.

...One question about the conda recipe, however.  Since `dask-mpi` depends on `MPI`...which I don't think is available on Windows, do I need to do anything special to indicate that this won't work on Windows?

[2019-01-03 16:20] mrocklin commented on #15
I would put `mpi4py` in the requirements and then just be done with it.  I suspect that whatever they've done for `mpi4py` will transitively carry over to us.

[2019-01-03 16:23] kmpaul commented on #15
Sounds reasonable.

[2019-01-03 16:58] mrocklin commented on #15
I see that dask-mpi is up on PyPI.  Woot!

Offer still stands to screenshare for conda-forge.  I suspect that we could bang it out in fifteen minutes.

[2019-01-03 16:59] kmpaul commented on #15
Yes!  😄  I'd like to bang away at the conda-forge step myself for a bit.  I need to learn this and get used to it.

[2019-01-03 18:31] mrocklin commented on #15
Go for it :)

On Thu, Jan 3, 2019 at 10:29 AM Kevin Paul <notifications@github.com> wrote:

[2019-01-03 18:31] kmpaul commented on #15
Incidentally, I followed a slightly different path when putting together the `setup.py` file.  I included in the repository `environment.yml` file(s), and not `requirements.txt` files.  I know that this is non-standard.  Would you like me to switch over to the `requirements.txt` file approach before finishing the release?  I can always modify, test, and then re-release on PyPI first, before the PR

[2019-01-03 18:38] kmpaul commented on #15
Actually, I can change that in the future, if desired (I'll make an issue for it).  I'll go ahead and submit the PR.

[2019-01-03 18:39] mrocklin commented on #15
I think it's up to you.  I recommend doing whatever you find comfortable.
If an issue arises then it's easy enough to change.

On Thu, Jan 3, 2019 at 10:38 AM Kevin Paul <notifications@github.com> wrote:

[2019-01-03 18:43] kmpaul commented on #15
Sounds good.  I'll wait to see if the PR goes through.

[2019-01-07 18:36] mrocklin commented on #15
Looks like this is done.

@kmpaul any objection if I tweet the following from the dask_dev account?

[code]

I ask just because I mention NCAR explicitly (it's nice from my perspective to mention institutions) but I'd be happy to drop that if you'd prefer.  If you have alternative suggestions for text let me know.

[2019-01-07 20:43] kmpaul commented on #15
No objection at all!  The mention of NCAR is fine. Thank you!

[2019-01-29 14:51] kmpaul opened #18 "How can we move `initialize` to the top-level of `dask_mpi`?"
This is in reference to issues discovered when attempting PR #16.

Currently, `initialize` is defined in the `dask_mpi.core` module, only.  Therefore, importing `initialize` must be done with the slightly ugly:

[code]

However, as @mrocklin noticed in PR #16, it is not really possible to move `initialize` up into `dask_mpi` easily.

Currently, I believe the main issues stem from multiple `IOLoop`

[2019-01-29 14:52] kmpaul commented on #18
...So, if it isn't clear, the main goal here is to create a working version of `dask_mpi` that allows for the import of `initialize` via:

[code]

...Just to be clear.

[2019-01-29 14:53] kmpaul commented on #18
CC: @andersy005

[2019-01-29 22:33] kmpaul commented on #18
Starting attempting to do this with PR #19, but all of the actions postulated do not work.  I've kept the cleanup code and merged it into master, but `initialize` is still not importable in `__init__.py` without failures.

I do not understand what is going on here.  I cannot seem to figure out why this fails.  I'm opening this issue up for help.

[2019-01-30 18:00] mrocklin commented on #13
pinging @aterrel again

(also, is there anyone else around that has access to the DNS records in case we want to diffuse responsibility?)

[2019-01-30 19:04] #18 closed

[2019-01-30 19:35] mrocklin opened #21 "Release?"
Any objections to a bugfix release?

[2019-01-30 19:51] kmpaul commented on #21
No objections at all.  I'll get started on that now.

[2019-01-31 13:48] kmpaul commented on #21
Version 1.0.2 is now up on PyPI, and the PRs to the feedstock have been merged.  But I still can't find version 1.0.2 on conda, yet.

[2019-01-31 16:37] kmpaul commented on #21
Done!  Version 1.0.2 is now on PyPI and conda-forge.

[2019-01-31 16:37] #21 closed

[2019-02-02 18:13] aterrel commented on #13
sorry about the delay. Github is not a great way to get ahold of me, better ways:

- email web@numfocus.org (where several people can get your email)
- email info@numfocus.org
- email andy.terrel@gmail.com
- ping me on NF Slack
- ping me on my cell (which you have)

I've tried getting people to manage this stuff but it seems only martey and me.

I've pointed dns for mpi.dask.org to readthedocs. No

[2019-02-02 20:18] mrocklin commented on #13
cc @kmpaul my guess is that this is a setting that you'll have to set in readthedocs

[2019-02-02 20:51] kmpaul commented on #13
Done.  Thank, @aterrel and @mrocklin!

[2019-02-02 20:51] #13 closed

[2019-02-04 19:05] kmpaul opened #23 "Dask-MPI breaks with newest dask updates"
I'm not sure what is going on, but the latest versions of dask (1.1.1) and distributed (1.25.3) appear to break dask-mpi.

[2019-02-04 19:07] kmpaul commented on #23
I'm wondering if this is related to dask/distributed#2504.

[2019-02-04 19:08] kmpaul commented on #23
I've verified that pinning distributed to 1.25.2 fixes the issue.

[2019-02-04 20:19] guillaumeeb commented on #9
As I am probably still not pythonic enough, what is the problem with the solution you propose above @kmpaul ? using sys.exit() in __init__() would not work?

[2019-02-04 20:31] kmpaul commented on #9
Hey, @guillaumeeb!

Yes.  Using `sys.exit()` in `__init__` would not have the operation that you would expect.

The `Cluster` objects allow you to start and stop a cluster (i.e., the scheduler and workers) from the `Client` process.  And, strictly speaking, you could start a dask cluster, stop it, and then restart it.
With the `sys.exit()` in the `MPICluster.__init__` method, the scheduler and wor

[2019-02-04 20:54] guillaumeeb commented on #9
But do you really want to do this in a MPI job? Couldn't this be a documented limitation? Once your cluster is closed, this is the end of the MPI run?

But maybe you wanted to mix Dask and other MPI workload as in http://blog.dask.org/2019/01/31/dask-mpi-experiment?

[2019-02-04 23:11] mrocklin commented on #9
Short term I like the current `initialize` approach.  I think that it does what we want.

Long term I think it would be interesting to dynamically launch and destroy MPI jobs from within Python, perhaps by calling something like `mpirun` directly.  I'm not sure how valuable this would be in practice (you all would know more), but it could be fun to experiment with.

[2019-02-05 13:57] kmpaul commented on #9
@guillaumeeb Yes.  I agree with you that for an MPI run, you probably only want to shut down the cluster at the end of your job in most (all?) cases.  However, I think that if you do this, then the only part of the `MPICluster` that you need is the `__init__` method (and the `close` method that gets called when the object is destroyed).  And that is exactly what the `initialize` function already d

[2019-02-05 14:31] guillaumeeb commented on #9
OK, Thank you both for your answers!

[2019-02-05 14:37] kmpaul commented on #9
You are welcome!

[2019-02-22 16:34] mrocklin opened #25 "Start MPI Dynamically from Dask"
I would like to explore the possibility of Dask starting MPI.  This is sort of the reverse behavior of what the dask-mpi package does today.

To clarify the situation I'm talking about, consider the situation where we are running Dask with some other system like Kubernetes, Yarn, or SLURM, and are doing Dask's normal dynamic computations.  We scale up and down, load data from disk, do some preproc

[2019-02-22 16:40] kmpaul commented on #25
I do not know how to initialize an MPI environment without starting a new process.  Every MPI implementation is different, and so every `mpirun`/`mpiexec` does something different when executed.  Its a strange thing that the launching process is not part of the MPI specification, which means there is no standardization.

The closest thing I can think of to launching an MPI job from within python i

[2019-02-22 16:43] mrocklin commented on #25
OK, so lets say we pin ourselves to something like OpenMPI (or whatever is most common).  Does this become possible?  If so, what is the path to doing this?

[2019-02-22 16:53] kmpaul commented on #25
I think it becomes possible, but I think we would need some OpenMPI or MPICH developers to chime in.  Maybe an issue here: https://github.com/open-mpi/ompi?

[2019-02-22 16:55] jrhemstad commented on #25
I don't suggest limiting yourself to only a single MPI implementation.

@kmpaul I can't speak for every MPI implementation, but usually `mpirun` just does the work of setting up your `MPI_COMM_WORLD` for you.

It is possible, but ugly, to do this manually.

It requires using the `MPI_Open_port`, `MPI_Comm_accept`, `MPI_Comm_connect`, and `MPI_Intercomm_merge` APIs documented here: https://www.mpi-

[2019-02-22 17:02] kmpaul commented on #25
@jrhemstad I agree that we shouldn't limit ourselves to a single MPI implementation, but you also point out a problem that finding a solution that works for all implementations may not be possible...easily.  (This API is supported in the MPI 3.1 spec, too.)

[2019-02-22 17:06] jrhemstad commented on #25
I was suggesting that one avoids doing anything implementation specific. The APIs I suggest are part of the MPI standard, they're just so infrequently used that some implementations just neglect to implement them.

[2019-02-22 18:25] spotluri commented on #25
MPI libraries use an interface called Process Management Interface (PMI) to interact with the job launcher. Different MPI libraries use different versions of PMI that are incompatible with one another. There has been efforts for standardization and compatibility but AFAIK this is far from complete.

In current state, the job launcher/manager should provide the same PMI version that the MPI library

[2019-02-22 18:39] jrhemstad commented on #25
This is not correct.

It is certainly possible to launch a process w/o `mpirun` and then bring it into an MPI communicator---I have done it.

See SO post here: https://stackoverflow.com/questions/15578009/difference-between-running-a-program-with-and-without-mpirun

[2019-02-22 20:41] spotluri commented on #25
@jrhemstad, my bad. I agree with you. at least according to the specification, one should be able to call these from a singleton process which was not launched through a process manger.

I am skeptical about the current state of implementation for these in MPI libraries though. Like you said, not all libraries support these APIs and even if they do, probably not on all system configs.

Also, this

[2019-02-22 21:07] datametrician commented on #25
Given this seems ugly in general, and I hate to say let's create yet another standard, but should we start with OpenMPI and then slowly add other variants as time goes on that follow the same standard?

[2019-02-22 21:10] jrhemstad commented on #25
Absolutely! It's definitely not going to be as easy as just doing `mpirun -n N ./a.out` and definitely not going to be as performant, but does that performance really matter? It's a one-time, upfront cost.

I think a good place to start is to create a simple client/server C++ code that exercises the `MPI_Open_port`, `MPI_Comm_accept`, `MPI_Comm_connect`, and `MPI_Intercomm_merge` APIs and it can b

[2019-02-22 21:14] jrhemstad commented on #25
To be clear, the APIs I described are part of _the_ MPI standard that all MPI implementations _should_ implement, it's not specific to OpenMPI.

From what I recall when I've played with this in the past, OpenMPI is one implementation that _does_ support these APIs, so it's a good place to start.

[2019-02-22 21:16] datametrician commented on #25
Understood. So should we start with OpenMPI to see if the standard that's already suppose to be there is universally used :)

[2019-02-22 21:34] samcmill commented on #25
mpi4py.futures may be useful for this: https://mpi4py.readthedocs.io/en/stable/mpi4py.futures.html

[2019-02-22 23:20] mrocklin commented on #25
What's the upfront cost like?  Microseconds, milliseconds, seconds?

 +1

[2019-02-23 01:15] spotluri commented on #25
I do not think using MPI Dynamic Process Management (DPM) (accept, connect, etc.) is about just the upfront cost. The DPM features though supported in an MPI library,  may not work with all transports/networks. In this case, you would be limited to a lower-performant network (say sockets) for all communication. Something to keep in mind.

Also, the support in OpenMPI appears broken right now, see

[2019-02-23 01:33] mrocklin commented on #25
Thanks for the input @spotluri !  Some followup questions if I may

Do know have a sense for what this looks like?  Can you recommend a good reference here for people to check out?

Dask is more than happy to move around control information.  My hope is that this would be done once at startup and then MPI would take over for most communication.  Is this the case?  For context, Dask communications

[2019-02-25 15:35] jrhemstad commented on #25
Ah yes! I remember stumbling across this back when I was originally exploring this stuff ~2 years ago. So my memory of OpenMPI was incorrect. In which case it was Intel MPI where these APIs do work.

From what I remember, MVAPICH doesn't support these APIs either (I think you actually get an "We don't support this function!" message if you try and use them).

This is indeed problematic because you

[2019-02-25 16:09] shwina opened #26 "Support `scheduler-port` and `worker-port` command line args?"
Would this be as simple as modifying the code around https://github.com/dask/distributed/blob/master/distributed/cli/dask_mpi.py#L63 and https://github.com/dask/distributed/blob/master/distributed/cli/dask_mpi.py#L79?

[2019-02-25 16:22] kmpaul commented on #26
Essentially  ...except for the fact that these lines should be in `dask/dask_mpi` and not `dask/distributed`.

The second argument (currently `None`) in both of these calls to `uri_from_host_port` indicates the port selected and the third argument is the default port.

Would you be motivated enough to put together a PR to `dask/dask_mpi` to do this?

[2019-02-25 16:26] kmpaul commented on #25
I agree with @jrhemstad, here.  It is unfortunate that the MPI standard is...well...not very standard.  However, this is the only appropriate way forward.  We need to stick to the MPI specification.  ...and for MPI implementations that claim to be open source, perhaps we can suggest (or even go so far as providing) implementations of the missing API.

[2019-02-25 16:30] shwina commented on #26
Thanks! Yes, I'm happy to

[2019-02-25 17:48] mrocklin commented on #25
A set of slides from an MPI BoF at SC.  Link from @jrhemstad

https://www.mpi-forum.org/bofs/2018-11-sc/sessions.pdf

[2019-02-25 18:07] jrhemstad commented on #25
So based on outside conversation, it seems like PMIx may be an alternative path for supporting Dynamic MPI process management w/ in Dask: https://github.com/pmix/pmix

[2019-02-25 19:32] rhc54 commented on #25
I think you'll find that the PMIx Groups work has what you need: https://github.com/pmix/pmix-standard/pull/139

The implementation is already in PMIx master branch: https://github.com/pmix/pmix

The MPI Sessions WG is exploring it for what you have described - dynamic async construction of MPI communicators.

[2019-02-25 19:35] jrhemstad commented on #25
@rhc54 Thanks Ralph! We'll take a look.

[2019-02-26 03:12] mrocklin commented on #25
For transparency, it appears that NVIDIA MPI folks have started conversations about this topic internally.  We'll see what surfaces...

[2019-02-26 06:12] rhc54 commented on #25
@mrocklin Out of curiosity, can you say more about this? Are they looking at using the PMIx Group capability, or some other approach?

[2019-02-26 15:42] mrocklin commented on #25
Honestly I've stopped tracking the internal chatter, I'll ask someone there to summarize the situation and report up though.

[2019-02-26 18:16] jrhemstad commented on #25
Restating Dask's problem statement for clarity:

1. Dask would like to be able to spawn `N` workers independent of MPI (i.e. no `mpirun`)
2. During the Dask workflow, Dask may dynamically resize `N` for whatever reason
3. At some point during a Dask workflow, we want to execute an MPI job across `M` ranks, where `1 <= M <= N`.
4. For the duration of the MPI job, Dask will disable all dynamic proce

[2019-03-01 00:12] mrocklin opened #28 "How do I start Dask from within an MPI4Py workflow"
I'm sitting with @zonca and he's asking how to start a Dask application from within an mpi4py application.  I'll give a brief explanation, and then some code snippets.

You can start a scheduler, client, and workers from within your Python script after you do other work, maybe you call a barrier, then on rank 0 start a scheduler, rank 1 start a client (and a bunch of other dask array/dataframe/del

[2019-03-01 12:00] #26 closed

[2019-03-05 05:42] teju85 commented on #25
@jrhemstad Thanks for the links on mpi-sessions. Those were useful! Like we already discussed this at several places, there are the following cases that we can consider how to put dask and mpi together. I don't see how mpi-sessions would help us in any of these cases. May be I'm missing something here?

*Case1a:* If we are going with 'dask-first' approach and further decide to reuse dask-worker pr

[2019-03-05 06:18] rhc54 commented on #25
I think @hppritcha would be the best source for MPI Sessions questions.

[2019-03-05 13:38] jrhemstad commented on #25
@teju85

Case 1a is what we are ideally targeting with Dask.

@rhc54 or @hppritcha correct me if I am wrong, but Sessions help us because we do **not** have to explicitly call `MPI_Init`, instead when initializing a Session, it will handle initializing the MPI Library for us if it has not already been done.

In this way, we do not have the problem of calling `MPI_Init`/`MPI_Finalize` multiple time

[2019-03-06 05:02] teju85 commented on #25
@jrhemstad So, IIRC, for *Case1a*, we want to have the ability to perform separate Init/Finalize calls done once for cudf-part and for the cuml-part. That's where you mention that mpi-sessions can be useful, am I right?

@rhc54 @hppritcha
I noticed from [this](https://www.mpi-forum.org/bofs/2018-11-sc/sessions.pdf) relatively recent presentation that the processes still need to be MPI-aware, befor

[2019-03-06 07:40] rhc54 commented on #25
I believe the answer is "yes", but I think @hppritcha and @dholmes-epcc-ed-ac-uk are the right people to address your questions. Unfortunately, the MPI Forum meeting is being held this week and I suspect they won't be able to answer right away.

[2019-03-06 14:47] dholmes-epcc-ed-ac-uk commented on #25
The intent of MPI Sessions is to provide a *different* way to initialise MPI, which does *not* require calling MPI_INIT.

The sequence of calls is:
[code]

This code could be put into any function (not just main, e.g. a library or a component or whatever).
This code could be executed many times by the same process (re-initialisation via sessions is permitted, unlike when using MPI_INIT).
The ```fl

[2019-03-06 14:59] dholmes-epcc-ed-ac-uk commented on #25
The current reference implementation has been done (by @hjelmn) within Open MPI and relies internally on services provided by PMIx Groups. There are functional unit tests for the proposed new API. The example source codes proposed for addition to the MPI Standard compile and run against this reference implementation.

The current status within the MPI Forum is "promising". The MPI Sessions WG has

[2019-03-11 20:25] guillaumeeb opened #29 "Run Scheduler and Client from the same MPI Rank"
I believe than in some simple case, we don't need to have a rank dedicated to the Scheduler, and a rank dedicated to the Client. We should provide a way to start both within the same MPI rank in https://github.com/dask/dask-mpi/blob/master/dask_mpi/core.py#L62-L71.

Thoughts?

[2019-03-11 21:17] mrocklin commented on #29
Seems fine to me.

On Mon, Mar 11, 2019 at 1:25 PM Guillaume Eynard-Bontemps <
notifications@github.com> wrote:

[2019-03-14 19:51] kmpaul commented on #29
@guillaumeeb Sorry for the delay!

I think this is entirely true.  And it's an excellent idea!  In fact, I would like to go a little further than this.  I would like to make the launch algorithm work for any size MPI communicator, not just > 2!
I am considering an optional parameter like `separate_scheduler_rank` to place the scheduler on a rank different from the client rank.

Here's what I'm con

[2019-03-15 16:37] guillaumeeb commented on #29
If you think about use case where the MPI rank would be less than 3, then yes. I assumed that there was not really such a use case... But maybe for algorithm testing or debug purpose?

Otherwise I think the idea of an optional parameter is perfectly fine!

[2019-04-30 06:46] teju85 commented on #25
@mrocklin forgot to update this thread. Thanks to the discussions in this thread and several chats, I was able to successfully "convert" dask processes into MPI ranks in my repo here: https://github.com/teju85/dask-first-with-mpi.

@cjnolet is also trying to take a look at this for integrating this into RAPIDS workflow. Along with him, if you can take a look at this repo and provide any feedbacks

[2019-05-02 18:08] andersy005 opened #30 "dask-mpi not working"
I have this script `dask_mpi_test.py`:

[code]

When I try to run this script with:

```mpirun -np 4 python dask_mpi_test.py```

<details>
 <summary>I get these errors:</summary>

[code]
</details>

[code]

Is anyone aware of anything that must have happened in an update to `dask` or `distributed` to cause `dask-mpi` to break?

Ccing @kmpaul

[2019-05-02 18:27] kmpaul commented on #30
The last CircleCI tests ran with `dask=1.1.0` and `distributed=1.25.2`.  However, I've tried to reproduce the same environment as was run in the last CircleCI test, and it fails on my laptop.  ...Yet, rerunning the CircleCI test worked fine.

[2019-06-08 20:14] bocklund commented on #30
I can reproduce this with the following environment on macOS.

I am running
`mpirun dask-mpi --scheduler-file my_scheduler.json --nthreads 1`
`python -c "from distributed import Client; c = Client(scheduler_file='my_scheduler.json')"`

I see this issue with:
[code]

and (downgraded dask)
[code]

and (downgraded distributed to 1.27.1)
[code]

and
[code]

and
[code]

**however, the following works!*

[2019-06-11 12:06] CarlosCuetoM opened #31 "Resilience in dask-mpi"
Hi!

I've been reading through the docs, but I'm still a bit unsure about whether the resilience/fault tolerance in dask-distributed in maintained in dask-mpi.

As I understood it, MPI is only used to discover nodes and not for communication, but would the fact that the execution has been launched with MPI in the first place imply that it will collapse in case a node fails?

Carlos

[2019-06-11 13:50] willirath commented on #31
I guess that a worker which dies and takes its MPI process with it will bring down the MPI cluster. A simple test would be to submit something that terminates the worker it's living on:

[code]

But you'll probably be able to handle problems caught by the nanny processes (like exceeding memory limits).

[2019-06-11 14:48] CarlosCuetoM commented on #31
Yes, that seems to bring down the whole MPI cluster.

Thanks!

[2019-06-11 14:48] #31 closed

[2019-06-11 14:49] Timshel commented on #30
I had the same timeout problem.
I was able to run my job while using `dask-scheduler` instead of `dask-mpi` to create the scheduler.

After some search it appears that the main difference of the `dask-scheduler` cli is that it's using the `current` tornado `IoLoop` : https://github.com/dask/distributed/blob/1.28.1/distributed/cli/dask_scheduler.py#L197

Using `current` instead of a new instance he

[2019-06-11 19:14] andersy005 commented on #30
@Timshel, @bocklund, thank you for chiming in. I am going to take a stab at a fix.

Moving forward, we may need to extend our testing environment to test different combinations of `dask` and `distributed` versions (or at least make sure that everything works with the latest versions).

[2019-06-12 21:49] basnijholt commented on #30
I am getting the same problem with the latest versions of `dask` and `distributed` and running the example from [the docs](http://mpi.dask.org/en/latest/batch.html).

This is blocking https://github.com/basnijholt/adaptive-scheduler/pull/11.

[2019-06-13 19:52] kmpaul commented on #23
Fixed with #33.

[2019-06-13 19:52] #23 closed

[2019-06-13 19:53] kmpaul commented on #30
Fixed with #33.  Thank you @Timshel for the tip.

[2019-06-13 19:53] #30 closed

[2019-06-13 20:23] kmpaul opened #34 "Drop Python 2.7 tests?"
Is it fair that we drop python 2.7 tests and no longer support python 2?

[2019-06-13 21:49] mrocklin commented on #34
No objection from me

On Thu, Jun 13, 2019 at 10:23 PM Kevin Paul <notifications@github.com>
wrote:

[2019-07-03 19:46] kbarros opened #35 "uri_from_host_port moved"
[dask_mpi/common.py](https://github.com/dask/dask-mpi/blob/master/dask_mpi/common.py#L5) contains the line:

[code]
However, it appears that the `uri_from_host_port` function has moved to [distributed/comm/addressing.py](https://github.com/dask/distributed/blob/master/distributed/comm/addressing.py#L180).

To resolve the compile error, I think the above import statement needs to be changed to:

[c

[2019-07-03 20:05] andersy005 commented on #35
@kbarros, thank you for reporting this. There's a work in progress PR https://github.com/dask/dask-mpi/pull/32 to fix this...

@kmpaul, it might be a good time to revisit https://github.com/dask/dask-mpi/pull/32.

The latest releases of distributed and dask dropped Python 2.7 support. So, we may need to drop it  as well.

[2019-07-03 20:22] kmpaul commented on #35
Yes.  We should drop Python 2.7 support.

Do we need backwards compatibility with dask <1.28.1?

[2019-07-03 20:42] andersy005 commented on #35
It's worth looking into what pieces were moved around in distributed >= 2.0 and dask >= 2.0 to see whether or not it would require major efforts in order to keep the backwards compatibility.

@mrocklin, I am interested to hear your thoughts on this.

[2019-07-03 20:46] mrocklin commented on #35
Personally I'm in favor of moving all of the deployment solutions that are comfortable with dropping Python 2 up to Dask 2.0.

[2019-07-03 20:49] kmpaul commented on #35
Sweet!  We'll get to work on updating this.

@andersy005 Do you feel comfortable taking a stab at this?  Remove Python 2 support?  Make the necessary changes to get dask-mpi working with dask 2.0?  Bump the version to 2.0?

[2019-07-03 20:51] mrocklin commented on #35
For Python 2 support please remember to add the `python_requires=">=3.5"` keyword to setup.py and, when building, drop the `--universal` flag.

[2019-07-03 20:58] kmpaul commented on #35
We will.  Thanks, @mrocklin!

[2019-07-03 22:42] kbarros commented on #35
I left a comment on #32 -- I can't get dask-mpi to work even with this fix.

[2019-07-04 05:17] andersy005 opened #37 "Use Black code formatter?"
Now that the Black code formatter is used throughout most Dask repositories, are there any objections to including pre-commit hooks for taking care of formatting/code style?

[2019-07-04 05:20] andersy005 commented on #35
@kbarros, #36 addresses this issue. Feel free to try it at your earliest convenience and please let us know how it goes.

[2019-07-04 07:01] mrocklin commented on #37
I would ask you this question, given that you seem to be maintaining this
project these days.

On Thu, Jul 4, 2019 at 6:17 AM Anderson Banihirwe <notifications@github.com>
wrote:

[2019-07-04 12:17] kmpaul commented on #37
Yes. I think we should use Black.

[2019-07-04 14:10] #34 closed

[2019-07-04 14:10] #35 closed

[2019-07-04 20:16] kbarros commented on #35
@andersy005 thanks for working on this! I tried both
```mpirun -np 4 python dask_mpi/tests/core_basic.py```
and
```pytest dask_mpi```
and here is the result:
https://gist.githubusercontent.com/kbarros/732a1aa968daf559b2f48f9e4e0056d1/raw/11620c2214014a5384e30e7a04df773511711872/gistfile1.txt

With the new fixes it doesn't hang like before, but it does return some failures. Perhaps there is somethi

[2019-07-04 21:36] andersy005 commented on #35
@kbarros, Dask-mpi CI is using the following versions:

[code]

I will try to reproduce the issue with `openmpi==4.0.0` and will let you know what I find.

[2019-07-05 00:20] kbarros commented on #35
@andersy005 thanks for the info. Previously I was using mpi4py installed from pip, which used the system MPI. Now I switched to mpi4py installed from conda, which uses the mpich package:

[code]

It seems like I get the same error in either case. Not sure how to investigate further.

[2019-07-05 02:15] andersy005 commented on #35
Can you try using a more recent release of mpi4py, and see if it makes any difference?

[code]

[2019-07-05 02:48] kbarros commented on #35
OK, I reinstalled mpi4py from conda-forge and get this:

[code]
Now when I run `mpirun -np 4 python dask_mpi/tests/core_basic.py` I get a similar error as before, but it additional prints:

[code]

When I run `pytest dask_mpi` I get `4 failed, 4 passed` whereas before it was 5 failed and 3 passed.

Here is the full output for both tests:
https://gist.githubusercontent.com/kbarros/4fcf5315047eafd70

[2019-07-31 12:43] kmpaul commented on #25
@mrocklin Does @teju85's work (above) resolve this issue?

[2019-07-31 14:23] mrocklin commented on #25
I don't know enough about MPI or the implementation to be able to answer that unfortunately.  I suspect that you would know more here than I would @kmpaul :)

[2019-07-31 15:09] mrocklin opened #39 "Version number for next release"
Hi All,

As part of an upcoming release I would like to release dask-mpi.  What should the version number be?  Some options:

1.  `1.1` - a moderate bump from the current version
3.  `2.2` - let's just match Dask version numbers going forward

What should we use?

[2019-07-31 15:33] andersy005 commented on #39
+1 for `2.2`

[2019-08-01 18:40] #37 closed

[2019-08-02 15:03] dholmes-epcc-ed-ac-uk commented on #25
@kmpaul the usage of MPI connect/accept in the toy repo linked by @teju85 looks correct (although suboptimal) to me.

I say suboptimal because it requires each non-root process to connect/accept with the root process, so scales linearly with the number of processes. Various other patterns could be used, e.g. recursive doubling, to achieve scaling proportional to the log of the number of processes

[2019-08-16 14:04] jrbourbeau commented on #39
Closing as it looks like we went with `2.0`

[2019-08-16 14:04] #39 closed

[2019-11-13 19:43] lebedov opened #43 "joblib.parallel_backend doesn't return when used with dask-mpi and sklearn"
Although the following seems to run to completion when run with `mpiexec -np 4 script.py`, the context manager doesn't seem to return:

[code]

Any thoughts why? I'm using python 3.7.3, scikit-learn 0.21.3, joblib 0.14.0, dask 2.7.0, and dask-mpi 2.0.0 with openmpi 4.0.2 on Ubuntu 18.04.

The motivation behind the above, incidentally, is to examine the feasibility of using dask-mpi to speed up cro

[2019-11-13 19:50] mrocklin commented on #43
Can you verify that your workers connected well?  If you print out the
client object it should give you some information about who has connected.

On Wed, Nov 13, 2019 at 11:43 AM Lev E. Givon <notifications@github.com>
wrote:

[2019-11-13 20:00] lebedov commented on #43
`print(client)` immediately inside the context manager displays the following:
[code]
Should there be additional info displayed in the client object repr?

[2019-11-13 21:28] mrocklin commented on #43
How does the script run to completion if the context manager doesn't finish?  Wouldn't that imply that it doesn't run to completion?

How do you know that the context manager doesn't finish up?

[2019-11-14 12:17] lebedov commented on #43
By "run to completion", I meant that the grid search completes but the script hangs before the very last line. I also observed that the 4 Python processes spawned by MPI still are running.

[2019-11-14 15:48] mrocklin commented on #43
So you reach the end of grid_search.fit, but the context manager never closes?  That sounds odd.  I've not personally heard of that before.

I recommend that you raise this issue somewhere else where people who are more familiar with joblib and scikit-learn can see it.  This repository is mostly used for deploying Dask on MPI.  I recommend either the joblib repository, or maybe the dask-ml reposit

[2019-11-14 15:48] mrocklin commented on #43
I'll move this to dask-ml now, but you might want to ask on joblib instead (I'm unable to move things there)

[2019-11-24 15:31] rcthomas opened #44 "Launching dask-mpi clusters"
Is this supported?  We have the ability (through Slurm) to `srun ... dask-mpi...` which will launch the cluster on a queue set aside for interactive work.  From the command line it's a single command.  Other facilities may not have this capability (it may require a batch script).

We're willing to take a look into how to make this work if it's needed.  cc @shreddd

[2019-11-24 15:34] mrocklin commented on #44
Moving this to dask/dask-mpi .

This isn't currently supported, but it could be.  In principle we need to create a class that meets some of the interface in https://github.com/dask/distributed/blob/master/distributed/deploy/cluster.py

If you wanted to get a start on this, I would recommend subclassing from `Cluster`, and implementing `_start` and `_close`.  I suspect that that will get you most o

[2019-11-25 16:00] mrocklin commented on #44
I think also that @andersy005 and @kmpaul may have had something like this in the past.  I'm not seeing it now though, so I'm curiuos if maybe I removed it when we redid things for 2.0.  (although the old version probably wouldn't have met the current-day constraints of the dask.distributed.Cluster interface)

[2019-11-25 17:26] kmpaul commented on #44
I feel like some context was lost in the transfer of this issue to `dask-mpi`...?  Not sure what the question is asking.  @rcthomas I hate to ask you to repeat yourself, but can you describe what kind of functionality (exactly) you are asking about?

[2019-11-25 18:02] kmpaul commented on #44
Is this related to #9 in any way?

[2019-11-25 18:16] mrocklin commented on #44
I think that the ask here is for a Python class that follows the Cluster interface so that it can be integrated into the JupyterLab "new cluster" button, as is depicted here: https://youtu.be/EX_voquHdk0

[2019-11-25 18:25] kmpaul commented on #44
Ah!  Yes.  This would be very cool.  ...Let's talk about what this would look like, then, because I'm actually wondering if this is more of a fit for Dask-Jobqueue.

[2019-11-25 18:30] rcthomas commented on #44
Thanks for moving this to the right place.  We're looking to enable both `dask-jobqueue` and `dask-mpi` style interactive HPC.  We have a configuration that allows interactive use via either `salloc` or `srun`.  It looks like `dask-jobqueue` sets up a job and submits it, here we'd want to do the same but there's no batch script involved.  I'm sure this can be accommodated, it's just a question of

[2019-11-25 18:32] kmpaul commented on #44
@rcthomas Is there a difference between the two approaches, other than that one uses a batch script and the other doesn't?  In other words, would a user notice a difference if one of these approaches or the other was implemented behind the "new cluster" button?

[2019-11-25 18:38] rcthomas commented on #44
That is one difference and it is not clear to me that it's something that needs to be included or whether it can be handled via abstraction.  Another difference is vanilla `dask-jobqueue` has a scheduler running somewhere already and workers are added or come and go.  With vanilla `dask-mpi` the scheduler and workers all start up at once.  This latter difference may not matter but I'm not that fam

[2019-11-25 19:14] mrocklin commented on #44
A minimal implementation will probably look like this ...

[code]

And then you'll add a config file like the following:

[code]

I'm sure that it will be more complex than that, but in theory that should work.

[2019-12-06 17:16] rcthomas commented on #44
I've been studying the code a bit and I have a few questions and comments.  To make things a bit more concrete I'm looking to encapsulate something like the following.  Many examples will be less complicated but we want to make a more user friendly way to accomplish something like the following real (working!) example:

[code]

So @kmpaul if `dask-jobqueue` can be made to do that then OK (there is

[2019-12-06 18:20] mrocklin commented on #44
I meant Cluster.  SpecCluster is based around running many individual worker objects, which you won't have.  You have one big job, rather than a configuration of many jobs.

[2019-12-09 22:20] rcthomas opened #45 "Can the scheduler info be broadcast at startup instead of using scheduler file?"
If I hit the end of a job allocation, or I OOM my cluster, or the cluster is shut down abruptly, an old scheduler.json file can be found by the workers on my next try.  I could always be sure to delete this file before I launch `dask-mpi` but why not just pass the info over the wire?

Sound handy?  We'd probably get PR that in before I figured out my other MPI cluster question...

[2019-12-09 22:25] mrocklin commented on #45
I think that using MPI to bootstrap this sort of information sounds like a
good idea.

On Mon, Dec 9, 2019 at 2:20 PM R. C. Thomas <notifications@github.com>
wrote:

[2019-12-09 23:11] kmpaul commented on #45
@rcthomas This is what is done in Dask-MPI.  The scheduler is started, the address is broadcast to the workers.

[2019-12-09 23:13] kmpaul commented on #44
@rcthomas Yes.  I think you are correct that this doesn't fit into the Dask-Jobqueue paradigm.  This cluster object should probably be defined in Dask-MPI using the `subprocess` algorithm like the one @mrocklin suggests.

[2019-12-09 23:16] kmpaul commented on #45
@rcthomas Look here:

https://github.com/dask/dask-mpi/blob/de00068c22d735fca6a1aa561fc176f99ac3385d/dask_mpi/core.py#L57-L75

[2019-12-10 01:21] rcthomas commented on #45
Thanks, I inferred something from the behavior I was seeing that actually looking at the code would have made obvious.  OK.  So something's wrong with what I'm doing; we'll investigate further as to how this is happening.

[2019-12-10 01:21] #45 closed

[2019-12-19 18:35] kmpaul commented on #44
@rcthomas Ok.  A question for you about what you actually need.

The command that you quoted above.  Is this what you want to run when you click on the Dask Labextension button?

[code]

Or is *this* what you want run when you click the Dask Labextension button?

[code]

If you want to run the *former* command, then it falls within the purview of Dask-Jobqueue.
And if you really need to avoid crea

[2020-02-27 22:28] rcthomas commented on #44
@kmpaul I am so sorry it's taken me 2 months to come back to this.

You've got a point.  Backing up just a bit we `salloc` here because `-q interactive` doesn't accept submission via `sbatch`.  I'm not sure how typical this is for everyone using Slurm.  If it's OK, then let's go for putting it into Dask-Jobqueue.

I'll note that in principle the 2 versions of the command (`salloc... srun...` and `

[2020-03-02 14:05] rcthomas commented on #44
We took a look at trying to adapt dask-jobqueue for salloc and it won't work.  We're able to submit the job but dask-jobqueue looks for the job ID when the submit command returns.  Of course here it doesn't ever return till the job times out.  I'm looking at options, which now look like the original course I wanted to follow or an internal conversation about queue policy here.

[2020-03-02 19:05] kmpaul commented on #44
@rcthomas No worries about getting busing with other things!  I completely understand.

The fact that `salloc` does not return immediately is definitely a complication, but I think there's a way of making it work.  It's just a little more complicated.

In standard Slurm Dask-Jobqueue, the `sbatch` command is run with the Dask-Jobqueue's `Job._call(...)` function.  The `Job._call` function uses `su

[2020-03-02 19:07] kmpaul commented on #44
@rcthomas That said, I still think that getting the `srun ... dask-mpi ...` command to work with something like an `MPICluster` object is a great idea, too.  I think both options are worth doing.  Unfortunately, I've got some timely issues taking up my free cycles right now, and I don't think I could look at this until mid-April.

[2020-04-03 14:26] aamirshafi opened #48 "Implementing MPI communication protocol for Dask"
I am currently experimenting with dask-mpi to replace point-to-point communication between scheduler<-->workers and workers<-->workers to use MPI. The goal is to exploit high-performance interconnects . I am aware of the ucx communication protocol already implemented but the MPI approach will be an alternative to that. Also, I have seen discussions on dask starting MPI jobs (https://github.com/das

[2020-04-03 17:00] mrocklin commented on #48
Great!  I'm excited to see what comes out of this work.

Yes.

I'm not sure that you get to make this choice.  You'll have to implement the entire Comm interface.  Fortunately, connection is trivial in an mpi4py setting.  Everything is already connected so you probably don't have to do anything other than store the rank of the other end.

I'm not sure I understand this.  But perhaps you're looking

[2020-04-03 19:40] aamirshafi commented on #48
Thanks for your responses.

[2020-04-03 19:51] mrocklin commented on #48
Thanks for trying this out.  I hope that it goes well.  Good luck!

On Fri, Apr 3, 2020 at 12:40 PM aamirshafi <notifications@github.com> wrote:

[2020-04-17 19:16] KevinSayers opened #49 "Multiple schedulers no workers"
I am interested in using dask-mpi on our cluster. Whenever I launch Dask I seem to only be getting multiple schedulers and no workers. My understanding was that rank 0 should be the scheduler and the others should be workers.

dask-mpi
[code]

sbatch:
[code]

slurm output:
[code]

In the `scheduler.json` I see one of these listed as the scheduler, and no entries in the workers field. Am I missing

[2020-04-20 18:48] kmpaul commented on #49
@KevinSayers It looks like you might be mixing up the 2 different modes of operation.  It looks like you are *both* running `dask-mpi` from the command line (i.e., the `mpirun -np 4 dask-mpi --scheduler-file scheduler.json --interface ib0` line in your sbatch file) *and* from within the script (with the `initialize` function).  The 2 different modes of operation do not go together; you should run

[2020-04-20 21:12] KevinSayers commented on #49
@kmpaul thanks for the feedback

## Command-Line Usage

Running the cli as suggested, I still seem to get 4 schedulers starting.
[code]

Specifying the scheduler in a dummy python script.
[code]

When I run: `python daskmpitest.py` it just waits, presumably because there are no workers.

If I then make a worker manually `dask-worker 10.148.0.110:36906 --no-nanny --interface ib0` the script runs fi

[2020-04-20 21:32] kmpaul commented on #49
@KevinSayers So, it looks like `rank == 0` in all of the processes created by `mpirun`.  I've seen this problem before, and I'm trying to remember why this happens...

[2020-04-20 21:39] kmpaul commented on #49
You might look at this:

https://wiki.mpich.org/mpich/index.php/Frequently_Asked_Questions#Q:_All_my_processes_get_rank_0.

[2020-04-20 21:41] kmpaul commented on #49
@KevinSayers Do you install `dask-mpi` with conda?

[2020-04-20 21:51] kmpaul commented on #49
From the information on the link above, it sounds like this can be an issue when you have 2 different mpi versions available.  It looks like you have a version of MPI installed on the system (i.e., `ml intel-mpi/2018.0.3`).  You might be installing a different version of MPI with `dask-mpi` when you install it.  If so, I think these two versions of MPI are incompatible.

[2020-04-20 22:16] KevinSayers commented on #49
@kmpaul that seems to have been it. If I install via pip both the cli and the in-script work. Thank you again for all your help!

[2020-04-20 22:16] #49 closed

[2020-04-20 22:20] kmpaul commented on #49
Yes!  I was going to suggest that.  I think that the conda `dask-mpi` package requires `mpi4py`...and the `mpi4py` package will install `mpi` if it hasn't been installed in your conda environment already.

Installing everything with pip, on the other hand, should actually build `mpi4py` against the version of the MPI found on the system.  So, I'm very glad that works!

[2020-06-08 14:54] jshleap commented on #44
Hello all! any advances in this "issue"?

[2020-06-08 15:57] kmpaul commented on #44
No progress yet.  Is this a priority for you?  I can try to accelerate this, but many things have come up over the last few months that have gotten in the way.

[2020-06-08 17:12] rcthomas commented on #44
We're heading in a different direction from salloc in the long run FWIW

[2020-06-08 17:15] kmpaul commented on #44
@rcthomas Because of the issues above?  Or because of another reason?

[2020-06-08 17:16] jshleap commented on #44
@kmpaul I guess I can use mprun in the meantime, but srun is the recommended command for SLURM. @rcthomas you mean away from running srun in salloc? If so, why? would that be also for sbatch?

[2020-06-08 17:25] rcthomas commented on #44
@kmpaul the queue we're putting these clusters into isn't really the right place for them.  We've got another plan that's more in line with vanilla dask-jobqueue.  Some kind of MPICluster object would still be something we'd want to work on.

@jshleap yes, away from the salloc-srun setup (see above) and towards just sbatch

[2020-11-03 10:01] jacobtomlinson opened #54 "Migrate CI to GitHub Actions?"
Due to changes in the Travis CI billing, the Dask org is migrating Travis CI to GitHub Actions.

This repo appears to use CircleCI. As we are putting in the effort to migrate many projects to GitHub Actions does it make sense to standardise here?

See dask/community#107 for more details.

[2020-11-04 13:43] kmpaul commented on #54
Hey, @jacobtomlinson!  Yeah.  I think it makes sense to standardize.  I'll put that as a to-do task for myself this week.

[2020-11-04 14:02] jacobtomlinson commented on #54
Thanks Kevin! Also hey! It's been a while.

[2020-11-04 16:33] kmpaul commented on #54
It *has* been a while!  It's nice to see your face...even if it's just a little icon.  😄

[2020-11-17 10:12] jacobtomlinson commented on #54
Closed in #55

[2020-11-17 10:12] #54 closed

[2020-11-21 19:53] kjgoodrick opened #58 "One worker does not shut down after code has finished running"
**What happened**:
Code is run with `mpirun` across two nodes each with 24 cores. Dask launches scheduler on one core and 46 workers as expected. Code executes as expected and dask begins to shut down workers. However, one worker is not shut down and continues trying to reconnect with the scheduler until the job is canceled by the machine job scheduler.

**What you expected to happen**:
All worker

[2020-11-23 02:57] kjgoodrick commented on #58
I've duplicated this again with a smaller version of the problem that eliminates the unresponsive loop warnings, so it appears that is not the problem. I've run this with a debug level logger as well which is below, the number between the logger name and the level is the processid. One thing I notice on this run is that when the scheduler shuts down the worker that fails to shutdown tries to recon

[2020-11-23 22:38] kmpaul commented on #58
Hey, @kjgoodrick.  Thanks for the issue!  I haven't had time to look into this, but I've noticed some worker hanging and other issues in a different set of work I am doing.  Maybe the two issues are related, but maybe not.  Both problems appear on Linux, so maybe there's something related.

[2020-11-30 18:02] kmpaul commented on #58
@kjgoodrick:  I can't reproduce this issue.  Can you post a working minimal example script?

[2020-11-30 20:23] kjgoodrick commented on #58
Hi @kmpaul: Thanks for looking into this! I will see what I can do to make this reproduceable with some generic code. If I can get it to happen consistently, I'll let you know. Based on the second log I posted (smaller_log.txt), I think it may be difficult though as I think this is caused by a race condition. If the scheduler shuts down while the worker is communicating with it the worker tries to

[2020-12-01 16:07] kmpaul commented on #58
@kjgoodrick:  If you are correct, then it seems like this error should occur with non-MPI Dask, right?  I can't see anything that is MPI-specific cropping up in the chain of events.  Perhaps this should be a Distributed issue?

@mrocklin: What do you think?  (Or should I ask someone else for advice?)

[2020-12-01 19:53] kjgoodrick commented on #58
@kmpaul If I am right it does seem like the issue does not have to do with the MPI side of things. I have only seen this problem when running in an MPI environment though. If I run the same code on just one CPU without the MPI initialization it stops as it should every time. I don't know if this is caused by some part the MPI setup or if it's just a coincidence though.

[2020-12-01 19:59] kmpaul commented on #58
Yeah.  It's hard to diagnose, for sure.  The test without the MPI initialization is suspicious, though.

[2020-12-08 21:26] aamirshafi commented on #48
@mrocklin apart from the initial connection establishment between workers and scheduler, dynamic connections are also made during the execution time. Is it possible to allow just one connection at most between any two peers? Thanks.

[2020-12-22 15:37] rsignell-usgs opened #60 "Include batch job full example in docs?"
I'm struggling a bit to get my first batch job with dask-mpi going, and I think it would be helpful to have a full minimal example (if possible) added to the docs.

I'm wondering specifically two things:

1.  How to specify my custom conda environment in my job control script.  Just doing `source activate pangeo`  as in the job control script below doesn't seem to work.
2.  Do I need to have to wr

[2020-12-22 16:46] kmpaul commented on #60
Hey, @rsignell-usgs!  What does your `HRRR-s3-download-mpi.py` script look like?

[2020-12-22 16:50] kmpaul commented on #60
Also, what machine are you trying to run on?  What you need to do in your job submission script to activate your conda environment can vary from machine to machine, depending on how the sysadmins set the machine up.  Some machines do not make a copy of the bash environment (i.e., environment variables, etc.) on the compute nodes, so when you try to run the script on the compute nodes, it doesn't r

[2020-12-22 16:53] kmpaul commented on #60
...Incidentally, this is the reason why I didn't document the full process for launching `dask-mpi` in batch mode.  It varies so much from machine to machine that one (or even three) examples might actually lead people to more confusion.  But perhaps more documentation could help, nonetheless.

[2020-12-22 18:14] andersy005 commented on #60
@rsignell-usgs, does the `source activate` step work if you replace

`#!/bin/bash` with `#!/bin/bash -l`

?

[2020-12-22 21:42] rsignell-usgs commented on #60
Adding the `#!/bin/bash -l` indeed let my script find my environment and then I just needed to clean up the `.py` file that I created using `nbconvert`.   I had left a `%%time` in there, which got translated into something goofy.  So when I removed that, it worked!

@andersy005 and @kmpaul, thanks for the help!

[2020-12-22 21:42] #60 closed

[2020-12-22 21:44] kmpaul commented on #60
@rsignell-usgs!  Awesome!  I'm glad it works.  Thanks for reaching out!

Thanks, @andersy005, for the actual solution.  😄

[2021-01-26 20:24] kmpaul opened #62 "Disable/remove CircleCI checks?"
I have done everything that I can do without administrative privileges on this repository to remove the CircleCI checks.  All testing has been moved to GitHub Actions (which appear to be working) and I have removed the `.circleci` directory from the repository.  I have unfollowed the project on CircleCI...but the CircleCI checks still show up in new PRs and pushes to the `master` branch.  Is this

[2021-01-26 20:32] andersy005 commented on #62
It's likely due to an active webhook. One solution is to delete the CircleCI webhook from the repository settings.

[2021-01-26 21:30] kmpaul commented on #62
Again, I don't have admin privileges to do that, though.

[2021-01-26 21:33] aamirshafi commented on #48
We have an update to this on https://github.com/dask/distributed/pull/4461

[2021-01-26 21:47] andersy005 commented on #62
Cc @dask/maintenance :)

[2021-01-26 21:59] jrbourbeau commented on #62
I'll go ahead and delete the webhook

[2021-01-26 22:03] jrbourbeau commented on #62
Opened up a PR over at https://github.com/dask/dask-mpi/pull/63 to double check that deleting the webhook removes the CircleCI check. Looks like that did the trick

[2021-01-26 22:45] kmpaul commented on #62
Thank you!

[2021-01-26 22:45] #62 closed

[2021-02-04 20:46] jsignell opened #65 "Move default branch from "master" -> "main""
@jrbourbeau and I are in the process of moving the default branch for this repo from master to main.

 - [x] Changed in GitHub
 - [x] Merged PR to change branch name in code (xref #64)

### What you'll see
Once the name on github is changed (the first box above is Xed, or this issue closed), when you try to `git pull` you'll get

[code]

### What you need to do

First: **head to your fork and rena

[2021-02-05 19:52] #65 closed

[2021-03-10 17:16] jsignell opened #66 "Verify that Read the Docs is building after master -> main"
Spotted on https://github.com/dask/dask-cloudprovider/issues/244#issuecomment-795310925. Read The Docs was still building `latest` from the `master` branch and builds were failing. It was configured to build from the default branch, but had cached the value `master` somewhere. Manually pointing it to  `main` in the RtD control panel fixed things.

[2021-03-10 18:55] andersy005 commented on #66
@jsignell, thanks for tracking this down. I changed the settings in the RTD control panel. However, the webhook doesn't seem to be working. When I try re-syncing the webhook, I get permissions errors because I don't have admin privileges on this repository:

![Screen Shot 2021-03-10 at 11 50 51 AM](https://user-images.githubusercontent.com/13301940/110681637-430e7d80-8197-11eb-9ce5-bd5bd7ab8351.pn

[2021-03-10 21:06] jsignell commented on #66
I think it's all good now. The revision of the docs matches the latest commit on main. Thanks for the ping @andersy005!

[2021-03-10 21:06] #66 closed

[2021-07-14 12:03] aplamada opened #71 "installing dask-mpi with pip and using it in interactive jobs"
dask-mpi looks great!
I tried to install and use it simply but things did not work as expected.

For a minimum example I prepared a binder ready [repo](https://github.com/aplamada/dask-mpi-test) where installed dask-mpi and I created 2 notebooks:
- [Test.ipynb](https://github.com/aplamada/dask-mpi-test/blob/main/Test.ipynb) contains the test according to the [documentation](https://mpi.dask.org/en

[2021-07-14 12:53] jacobtomlinson commented on #71
@aplamada could you share the full test output?

[2021-07-14 15:43] aplamada commented on #71
Sure:
[code]

[2021-07-15 09:40] jacobtomlinson commented on #71
Looking at [the tests](https://github.com/dask/dask-mpi/blob/b1638a44511bd701fa31698a90196926f5e8f89a/dask_mpi/tests/conftest.py#L21) it seems to just specify `mpirun`. So I wonder if something is up with your `PATH`.

Can you do `which -a mpirun`?

[2021-07-15 10:05] aplamada commented on #71
Sure
[code]

[2021-07-15 10:19] aplamada commented on #71
So I tried the same also on my mac and it looks like mpirun is expected in the environment, e.g. I created a .venv and I got
`FileNotFoundError: [Errno 2] No such file or directory: .... /dask-mpi/.venv/bin/mpirun`

I also noticed that the test are using exclusively conda.

[2021-07-15 11:50] jacobtomlinson commented on #71
Interestingly if I run through the tests in a simple Python docker container I see similar errors where it can't find `mpirun` but it isn't looking in the Python environment for it.

[code]

[code]

<details>
<summary>Full test output</summary>

[code]

</details>

[2021-07-15 11:56] jacobtomlinson commented on #71
It looks like `distributed.utils_test.popen` is the culprit here. I'll raise an issue over there to explore this.

https://github.com/dask/distributed/blob/942f2355892117ed95723b909cbcc7a672c6b269/distributed/utils_test.py#L1053

[2021-07-15 12:01] jacobtomlinson commented on #71
I think heading down this testing route is getting off track from your actual problem though.

You mentioned in your original post that you can't run `dask-mpi` outside of pytest either.

Could you share an example of what you are doing and the errors you see?

[2021-07-15 12:50] aplamada commented on #71
Yes. Thanks!
I tried to follow the documentation:
[code]

<details>
<summary>Output.</summary>
<p>
[code]
The second part is hanging.

By the way - I don't really have experience with using dask on distributed systems (just locally), and kind of zero experience with `dask-mpi`.
I used only `ipyparallel` + MPI (see [here](https://ipyparallel.readthedocs.io/en/stable/mpi.html)).
In case you have any

[2021-07-15 13:28] jacobtomlinson commented on #71
Ok so it looks like your cluster is starting correctly but the client is unable to connect.

Are you able to open the dashboard in your browser? I think from your example it would be 10.0.9.144:8787.

I'm wondering if there are some firewall rules or network connectivity issues getting in the way.

[2021-07-15 13:52] aplamada commented on #71
I checked http://127.0.0.1:8787/info/main/workers.html  (different setup)
![dask-mpi](https://user-images.githubusercontent.com/3380515/125799059-0d88c2cf-9890-4af1-9634-a80a280cca33.png)

I guess it looks fine, isn't it?

The problem is that it is hanging!
![dask-mpi-nb](https://user-images.githubusercontent.com/3380515/125799581-ce1dcc52-55bf-4838-9215-cb9bbfdaab8d.png)

[2021-07-15 14:03] jacobtomlinson commented on #71
Ok in that example you seem to be running the scheduler on your local machine. But then you are connecting a client using the scheduler file.

- Can you try `client = Client("tcp://localhost:8786")`?
- Can you have a look in the `~/scheduler.json` file and see what address is listed in there?

[2021-07-15 14:12] aplamada commented on #71
I am running it in a container
[code]
Awesome - using the address `tcp://172.17.0.2:41337` from the `~/scheduler.json` works as desired!

[2021-07-15 14:16] jacobtomlinson commented on #71
Glad things are working for you, strange that Distributed is failing to read the scheduler file itself though.

[2021-07-15 14:21] aplamada commented on #71
Many thanks!
It looks like using the absolute path it works!

[2021-07-15 17:35] kmpaul commented on #71
Thanks, @jacobtomlinson!

@aplamada I'm glad it's working for you!

[2021-07-15 17:45] jacobtomlinson commented on #71
@aplamada ahh that makes sense.

I think the hang is happening [here](https://github.com/dask/distributed/blob/4734833cc08f6c22b2202723e3a6be3bc5b7c2bc/distributed/client.py#L1054-L1055) because `os.path.exists` doesn't expand the `~`. I'll raise an issue/PR to resolve this and also add a timeout here.

[2021-07-15 18:15] jacobtomlinson commented on #71
I have opened an issue upstream so given that this problem has been worked around for @aplamada I'm going to close this out.

[2021-07-15 18:15] #71 closed

[2021-07-16 06:42] aplamada commented on #71
Thanks a lot! Yes the issue was clarified.
I was able to use it on an HPC cluster with a dask cluster that has workers on multiple nodes and it works as expected!

[2021-07-27 10:33] mahendrapaipuri commented on #26
I know it is a closed issue, but I notice that the scheduler is not being created at the port number I specify on the CLI. For instance, when I invoke the `dask-mpi` using following command:

`mpirun -np 8 --map-by node dask-mpi --no-nanny --nthreads=1 --memory-limit='100GB' --scheduler-file=scheduler_file.json --interface=ib0 --scheduler-port=8786 &`

these are the first few lines of the dask log

[2021-07-30 08:14] mahendrapaipuri opened #72 "Scheduler port number cannot be assigned on the CLI"
`mpirun -np 4 --map-by node dask-mpi --no-nanny --nthreads=1 --memory-limit=0 --scheduler-file=scheduler_file.json --interface=ib0 --scheduler-port=8786 &`

**What happened**:
I am a newbie to dask and I found `dask-mpi` very portable approach to setup dask cluster on multiple platforms. I have noticed that there is a CLI option to specify the scheduler port number using `--scheduler-port` but whe

[2021-07-30 14:26] jacobtomlinson commented on #72
It looks like the scheduler port stopped being passed to the `Scheduler` object in #46. But the flag still exists.

@kmpaul do you know if this was removed intentionally?

[2021-07-30 16:47] kmpaul commented on #72
It wasn't removed intentionally. I think it was missed.

[2021-07-30 19:50] mahendrapaipuri commented on #72
@kmpaul @jacobtomlinson Thanks for the replies. So, I assume it is pretty trivial to add this flag to `Scheduler`.

I have one more question, if I may ask it here! In the documentation, you clearly mention that `--nanny` flag works only for some MPI implementations because of process forking. As far as I know, OpenMPI implementations with verbs support complains about process forking. But, OpenMPI

[2021-08-02 11:10] jacobtomlinson opened #74 "Nanny fails on OpenMPI+UCX"
In the documentation, you clearly mention that `--nanny` flag works only for some MPI implementations because of process forking. As far as I know, OpenMPI implementations with verbs support complains about process forking. But, OpenMPI with UCX support do not have this problem, it is quite happy to allow process forking. We have few MPI codes that do this and we did not find any problems with Ope

[2021-08-02 11:11] jacobtomlinson commented on #72
I've opened #73 to fix the scheduler port issue and I've opened #74 to cover your additional question about process forking on OpenMPI+UCX.

[2021-08-02 16:38] kmpaul commented on #74
Hey, @jacobtomlinson:  I only tested OpenMPI (without UCX) and MPICH.  With the old version of MPICH, I was able to get the `--nanny` option to work, I think.  But maybe things have changed and it doesn't work with any flavor of MPI.  I probably need to make time to test across the spectrum of packages.  I always felt that just testing against MPICH and OpenMPI would be enough.

[2021-08-02 16:39] kmpaul commented on #72
@mahendrapaipuri:  I commented on your question in #74.

[2021-08-17 11:15] AlecThomson opened #76 "Strange interaction with astropy.coordinates.Angle"
**What happened**:
This may be an issue in astropy, so my apologies if this is in the wrong location.

I'm using `dask-mpi` to distribute a task with using a `astropy.coordinates.Angle` object. When I try to convert to the `astropy.units.hourangle` format, I get the following error:
[code]

**What you expected to happen**:
Using a `LocalCluster` and a `SLURMcluster` I do not get this error using o

[2021-08-17 13:13] jacobtomlinson commented on #76
I would be surprised of something in `dask-mpi` was causing this directly. My first instinct would be to look at python environments. Specifically comparing what happens differently between using `dask-mpi` and `SlurmCluster`.

Perhaps a good first step would be to check the `sys.executable` on clusters submitted by both methods to ensure it is the same.

[2021-08-18 02:12] AlecThomson commented on #76
Thanks, @jacobtomlinson. I added the line:
[code]
to the worker function.

Using both `dask-mpi` and a `LocalCluster` I get:
[code]
which is the conda env I'd expect to be called

[2021-08-18 05:32] ste616 commented on #76
Your example code works perfectly for me, with astropy = 4.3.1, dask_mpi = 2.21.0, dask = 2021.08.0, Python = 3.8.10 and Ubuntu 20.04.2 LTS. I get both the degrees and hour strings out as expected.

I will note that the line numbers for the errors do not correspond to the version of astropy that I have installed.

[2021-08-19 00:59] AlecThomson commented on #76
Thanks, @ste616. The same is true for me as well, actually. The MCVE also runs fine for me, which is part of my confusion. There might be some conflict between that and my full working script, but for the life of me I can't see what it is.

[2021-08-19 04:18] AlecThomson commented on #76
As an update, it looks like the issue extends to other parts of `astropy.units`. A script like:

[code]
Raises `astropy.units.core.UnitConversionError: 'Hz' (frequency) and 'Hz' (frequency) are not convertible`. Again, I should note that this MCVE _doesn't_ reproduce this Error which occurs in my full script.

I can workaround this by doing the unit conversion in `main` e.g.
[code]

The full trace

[2021-08-19 08:39] jacobtomlinson commented on #76
The inconsistency is strange. Are you definitely using `2021.05.0` everywhere?

[2021-08-19 23:29] AlecThomson commented on #76
I'm pretty sure that's the case. I'm using a locally installed conda environment. As a test I added:

[code]

And I get:
[code]

[2021-08-20 09:08] jacobtomlinson commented on #76
And `distributed` too? (They should be pinned but it's worth checking).

[2021-08-23 02:35] AlecThomson commented on #76
Here's a test with `distributed`
[code]

As small aside, I noticed I had an inconsistency in my module importing -- i.e.
[code]
vs
[code]
I corrected to just use the former option, but the issue persists.

[2021-08-23 10:19] jacobtomlinson commented on #76
The latter is preferred, but either will mostly be fine.

Without a reproducer, I'm afraid this will be hard for us to track down.

[2021-08-31 15:49] #72 closed

[2021-08-31 15:54] kmpaul commented on #74
@mahendrapaipuri @jacobtomlinson:  It's unclear to me if this issue has been addressed with the recent bugfix #77 as well as the recent PR merges (#73 and #75).  @mahendrapaipuri, are you able to test with the `main` branch straight from GitHub?

[2021-08-31 18:46] mahendrapaipuri commented on #74
@kmpaul Well, I finally managed to test the PR. So, I used the `main` branch from the GitHub and `dask-mpi` worked without any issues both on "toy" and "application" problems. I tested with both OpenMPI 4.1.1 + UCX and OpenMPI 3.1.3 + verbs and in both cases it worked. With OpenMPI 3.1.3 + verbs support, OpenMPI threw me some warnings about processing forking though (which is normal). Seems like t

[2021-08-31 19:55] #74 closed

[2021-09-04 16:26] rcthomas opened #78 "Issues starting GPU workers"
I've been able to manually launch a Dask GPU cluster using Slurm successfully.  The setup for that looks like:

[code]

This works OK for say, 2 nodes with 4 GPUs each but I find that when I request more workers, say, 80 GPUs, some of them just never come up, or they take an inordinately long amount of time to come up.  I had this problem with manual start in a CPU-only context with Dask Distribut

[2021-09-07 14:16] jacobtomlinson commented on #78
Sorry you're having trouble here @rcthomas.

Could you try the fix in #79 and see if that resolves it for you?

[2021-09-07 17:01] rcthomas commented on #78
Thanks @jacobtomlinson that does fix the options collision.  Now I'm onto other problems, thanks!

[2021-09-08 09:12] jacobtomlinson commented on #78
Great. Please feel free to open more issues as you come across them!

[2021-09-08 09:12] #78 closed

[2021-09-13 13:10] Wee-Free-Scot commented on #25
In case this is still of interest, the MPI Sessions proposal was accepted into the MPI Standard and appears in the MPI-4.0 version of the MPI Standard (downloadable from https://www.mpi-forum.org/docs/).

The API syntax and operational semantics are broadly the same as described in this thread.

[2021-09-13 15:55] kmpaul commented on #25
@Wee-Free-Scot!  That's very cool!  Do you know if this has been implemented in MPICH or OpenMPI?

[2021-09-13 15:58] Wee-Free-Scot commented on #25
There is a reference implementation in Open MPI but it is not yet production code. I expect it will a matter of (a short amount of) time until all major/popular MPI libraries have implemented this functionality, in order that they can claim compliance with MPI-4.0

[2021-09-15 16:16] kmpaul commented on #25
👍 Then we'll wait some more.  Seems like this is the best solution.

[2021-09-29 10:38] mahendrapaipuri commented on #74
@kmpaul @jacobtomlinson When do you plan to have next release with these bug fixes? Thanks!

[2021-09-29 23:02] kmpaul commented on #74
Well, good question.  Looking at my schedule, I think I can have something out in a week.

[2021-09-30 09:35] jacobtomlinson commented on #74
@kmpaul I'd be happy to sync up while you do it so that I know the procedure too and could possibly do releases in the future if you don't have time.

[2021-09-30 17:42] kmpaul commented on #74
@jacobtomlinson:  Thank you!  I'd love to share the responsibility.

I believe that dask-mpi's release procedure is sadly out of date.  I think the last release I did was manual.  Currently, all of the tests are passing, and so I'm comfortable triggering a new PyPI release and then trigger a conda-forge build (manually).  However, I'd like to automate this process a little better.  Here's what I s

[2021-09-30 18:13] jacobtomlinson commented on #74
Yeah that sounds great. Check out `dask-cloudprovider` for an example of doing exactly this.

GHA pushes to PyPI on tags. That PyPI build triggers conda forge.

Happy to sync up and go through it any time if you prefer. https://jacobtomlinson.dev/calendar

[2021-09-30 19:01] kmpaul commented on #74
:+1000:  (Guess that's not a thing...)

Yes.  I'll take a look at `dask-cloudprovider` and try to reproduce the logic for `dask-mpi`.

[2021-09-30 19:02] kmpaul commented on #74
...and my calender sucks at the moment, but if I need to chat, I'll sync up with your calendar.  Thanks!

[2021-11-12 16:41] kmpaul commented on #74
@mahendrapaipuri:  We now have a new release on PyPI!  Sorry for the ***LONG*** delay on that.  (We now have a better release process, too.)

[2021-11-12 16:42] kmpaul commented on #74
We are still working on the conda-forge release.  So, keep watching for updates on that.

[2021-11-12 16:45] mahendrapaipuri commented on #74
@kmpaul Thanks a lot! Thats perfect timing as I am planning a demo to my team next week.

[2021-11-12 16:53] kmpaul commented on #74
@mahendrapaipuri:  Excellent!  Happy to (*finally*) help!

[2021-11-12 20:48] lastephey opened #82 "dask-mpi not using timeout values set via config.yaml or dask environment variables"
**What happened**:

I was attempting to start a dask-mpi cluster on 20 (admittedly slow) 68-core Intel KNL nodes (1320 workers, each with a single thread). I observed the scheduler start and the workers attempt to start and connect, but eventually fail with messages like

[code]

Knowing that KNL has a slow clock speed of 1.4 GHz, I attempted to increase the timeout by setting values in my `~/.con

[2021-11-15 20:12] kmpaul commented on #82
@lastephey:  Thanks for the contribution!  I do not have an account (any longer) on NERSC systems, nor any hours to spend on the NERSC machines to debug).  There may be a way of reproducing this error on a smaller system, but I'm not sure what that might look like.

[2021-11-15 20:17] lastephey commented on #82
Hi @kmpaul,

If you'd like I am happy to get you a NERSC account if you'd like to do some testing, so please let me know.

Can you clarify whether `dask-mpi` should be using the Dask configuration options? Am I specifying them correctly?

Thank you,
Laurie

[2021-11-15 21:29] kmpaul commented on #82
Thanks, @lastephey!  I might take you up on that, but let's see if we can drill down a bit before taking that measure.

I'm not aware of anything in `dask-mpi` that prevents the default configuration from working as it normally should.  I will need to look further into this to see if there is something else happening.

[2021-11-15 21:32] kmpaul commented on #82
@lastephey:  Before going too far down the road, can you test out the latest version of `dask-mpi`?  We updated it after fixing some bugs just a few days ago.

[2021-11-15 21:33] kmpaul commented on #82
Latest version should be `2021.11.0`.

[2021-11-15 21:36] lastephey commented on #82
Sure, I'll see if I can reproduce with `2021.11.0` and report back.

[2021-11-29 19:42] lastephey commented on #82
Hi @kmpaul, sorry for the delay. I re-tried this with

[code]

and ran

[code]

I still saw failures during the cluster startup with `OSError: Timed out during handshake while connecting to tcp://10.128.9.53:43779 after 60 s`.

I tried to verify that the environment variable settings I used to attempt to increase the timeout were being set by

[code]

so at least Dask is ingesting them, although I

[2021-11-30 10:06] jacobtomlinson commented on #82
Are you able to connect a client to the running cluster? If so you could run `dask.config.config` on the workers to make sure the config made its way there.

[code]

[2021-12-02 18:52] mahendrapaipuri opened #83 "`dask-mpi` fails with wheel packaging"
Using `pip install dask-mpi`
[code]

Using `python setup.py install`

[code]

**What happened**: Installing `dask-mpi` with wheel packaging fails but it works normally with egg packaging. Tested it on 2 different systems and same behaviour is observed

**What you expected to happen**: To work with both packaging methods

**Anything else we need to know?**: The only difference between two approache

[2021-12-06 16:18] mahendrapaipuri commented on #83
@kmpaul Could you please look into it when you have time? Cheers!

[2021-12-06 16:25] kmpaul commented on #83
@mahendrapaipuri:  Yes.  I've been very busy these days, and I am currently (due to a fiasco transferring my settings to a new phone and now 2FA is not synced) locked out of PyPI, so I cannot take a look.  From the looks of it, I may not have access to PyPI again for months, since they are notoriously slow in resetting people'e 2FA.  Perhaps @andersy005 or @jacobtomlinson could help you.

[2021-12-07 18:42] kmpaul commented on #83
FYI: This does not seem to be reproducible on a Mac.  I'll look into trying this in a linux Docker container to try reproducing the bug.

@mahendrapaipuri:  Can I ask you how you install the dependencies for Dask-MPI?  Are you installing Dask-Distributed with conda?  How are you installing mpi4py?  In total, describe to me the steps that come before the first step you describe above (`pip install

[2021-12-07 18:46] mahendrapaipuri commented on #83
Hello @kmpaul Thanks for taking a look. I created a bare `conda` environment and installed everything using `pip`. So the steps are
[code]

[2021-12-07 18:47] kmpaul commented on #83
@mahendrapaipuri:  Thanks!  I'll see what I can uncover in a Docker container.

[2021-12-07 18:48] kmpaul commented on #83
And just to be clear, you are using a system install of OpenMPI and not installing OpenMPI with Conda, correct?

[2021-12-07 18:50] mahendrapaipuri commented on #83
Well, I have tested using system installed OpenMPI and Spack installed OpenMPI. Both gave me same errors. But no, I did not use conda built OpenMPI.

[2021-12-07 18:51] kmpaul commented on #83
Ok.  Then I'll try to diagnose the issue with system-installed OpenMPI (and possibly test with a Conda-installed OpenMPI, too).

[2021-12-07 19:20] kmpaul commented on #83
I can confirm the bug exists on Debian in a Docker container.  I'm investigating why the wheel and egg installs yield different behaviors.

[2021-12-07 19:23] mahendrapaipuri commented on #83
@kmpaul, I have tested on CentOS 8 too and ended up with same issue. I am not an expert in Python packaging, but what I had noticed is the difference between both approaches is just the generated `dask-mpi` binary file.

[2021-12-07 20:02] kmpaul commented on #83
I'll take a look at that.

FYI: I've noticed that with the `pip install dask-mpi` version (i.e., the one that fails), it works if you disable the use of Nannies.  That is, if you change your CLI command to:

[code]

it starts up correctly.

[2021-12-07 20:08] kmpaul commented on #83
@mahendrapaipuri:  Thanks for the tip!  I can verify that regardless of how you install `dask-mpi`, if you use the binary created by the egg-install, it works.  So, now to get into why the egg-installed entry point works and the wheel-installed entry point does not.

[2021-12-07 20:27] mahendrapaipuri commented on #83
@kmpaul Precisely!! I have noticed that too. I am quite curious why binary from egg-install works and not the one from wheel. I ran out of ideas on how to debug it when I was digging into it!! Thanks again for taking time and looking into it.

[2021-12-07 21:01] kmpaul commented on #83
Ok.  I've looked a little deeper and I've been able to simplify the egg-installed `dask-mpi` binary to take the following form (eliminating all unused try branches and unnecessary functions when the input is fixed):

[code]

This works, as expected.  *However,* if you simply make `go` a globally defined symbol, like so:

[code]

it now fails *in the same way that the wheel-installed binary fails.*

[2021-12-07 21:07] kmpaul commented on #83
As you might expect, if you change the wheel-installed binary to look like this:

[code]

It works.

[2021-12-08 00:05] kmpaul commented on #83
@mahendrapaipuri:  I've spent the day looking into this, and I cannot figure it out.  I don't know why one entry point script should work and the other not work.  It is a mystery to me.

[2021-12-08 09:06] mahendrapaipuri commented on #83
@kmpaul Thanks a lot for looking into it. To me as well, sort of mystery. Hope someone else can figure it out.

[2021-12-08 15:49] kmpaul commented on #83
I have another idea, and if I have time today, I am going to look into it.  I'll let you know.

[2021-12-14 03:30] lastephey commented on #82
Hi everyone,

I'm sorry for my very slow response here.

Using @jacobtomlinson's suggestion, I confirm that the settings are making their way to the `dask-worker` configuration using `2021.11.0`. In this test I used a much smaller, 2 node cluster with 63 workers.

[code]

So that's good.

I did try again to start the original cluster with

[code]

But still saw quite a few

[code]

about 1-2 minut

[2021-12-14 10:41] jacobtomlinson commented on #82
Ah I see the reason the timeout is being ignored. The env vars should be

[code]

Note the double underscores between each word. There is a [utility on the docs page](https://docs.dask.org/en/stable/configuration.html#conversion-utility) that helps generate env vars and you can check it will create the right config nesting. It can be helpful because the Dask config system can be a little finicky t

[2021-12-14 21:27] lastephey commented on #82
Ah, good catch @jacobtomlinson! And thanks for the pointer to the utility in the dask docs.

I'll test and report back.

[2021-12-15 07:25] lastephey commented on #82
Well, this sounded promising but unfortunately I still don't think it's working. I tried to start up my 1300 worker test cluster but still saw timeouts after 1-2 minutes, so I went back to a 2 node cluster for testing.

I started my 2 node test cluster up via:

[code]
making sure to use the correct double underscore variables.

I used @jacobtomlinson's trick to see if the config had propagated to

[2021-12-15 10:00] jacobtomlinson commented on #82
I'm not sure. It seems the config isn't being propagated to the workers correctly.

I don't know enough about SLURM but would you expect all local environment variables to be propagated to the tasks in the cluster?

I know in other Dask projects we manually bundle up the local config and pass it along to the worker processes. But I don't think `dask-mpi` does this.

This seems like a good thing to

[2021-12-16 07:06] lastephey commented on #82
Thanks @jacobtomlinson. As far as I know slurm copies all environment variable settings to our compute nodes. Here is a tiny demo:

[code]

so I think those settings should be available to the workers. I did try to test your other suggestions, too.

We do have a shared filesystem that is mounted on all compute nodes, so I put the following into my `~/.config/dask/distributed.yaml` using the helpfu

[2021-12-16 10:01] jacobtomlinson commented on #82
Could you try using `dask.config.get("distributed.comm.timeouts.connect")` instead of accessing `dask.config.config` directly and see what that returns?

Your API example looks good, you should be able to set Dask config in there with `dask.config.set(...)` too.

[2021-12-16 15:54] lastephey commented on #82
Ah yes, with your suggestions @jacobtomlinson the API does seems to work and the settings appear to be used, so thank you very much.

[code]

And in the cluster output I see

[code]

so that's good!

Then I went to start up my 1300 worker cluster using the API, but unfortunately I still started to see

[code]

I am baffled about why it seems to still be using a 60s timeout limit.

[2022-01-04 10:29] jacobtomlinson commented on #82
There is an ongoing discussion in https://github.com/dask/distributed/issues/3691 about scaling to large numbers of workers on HPC clusters. Folks there may have run into some of these same issues. Have you seen that issue?

[2022-01-04 19:34] lastephey commented on #82
Thanks @jacobtomlinson. I had seen it awhile ago, but I went back and read it again.

I tried the [Client.wait_for_workers](https://distributed.dask.org/en/latest/api.html#distributed.Client.wait_for_workers) suggestion there and I think that's helpful.

When I tried to launch our big 1300 worker node test with

[code]

and

`client.wait_for_workers(n_workers=1300, timeout=360)`

I took ORNL's adv

[2022-01-05 10:01] jacobtomlinson commented on #82
There should be some retries built in there. Given the log is only at `INFO` level I would expect that things have not necessarily failed.

[2022-01-05 16:28] lastephey commented on #82
I see, that is very helpful to know. When I saw those messages I assumed the workers were failing but it sounds like after a retry or two it was fine.

Since I have a workaround for now, do you think I should close this issue? Or do you want to look into adjusting the config settings further? Either way I am very grateful for all your help with this @kmpaul and @jacobtomlinson.

[2022-01-05 16:30] kmpaul commented on #82
I think thanks go mostly to @jacobtomlinson.  😄  Excellent finds with the issue on dask/distributed!

[2022-01-05 16:31] kmpaul commented on #82
(Oh, and I'm happy to close this issue for now, if you want.  We can always reopen it.)

[2022-01-05 17:17] #82 closed

[2022-04-13 15:22] kmpaul opened #84 "Error importing `check_python_3` with new version of distributed"
**What happened**:

When `dask-mpi` CLI is used, it attempts to import `check_python_3` from `distributed.cli.utils`, which now fails because that function has been removed.

**What you expected to happen**:

We shouldn't need to check for Python 3 any more.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

I'm working on a PR to fix this now.

**Environment**

[2022-04-13 16:25] #84 closed

[2022-04-19 21:55] kmpaul opened #87 "Cluster shutdown fails in batch mode on Python >3.8"
**What happened**:

When Dask-MPI is used in *batch* mode (i.e., using `initialize()`), it does not properly shut down the scheduler and worker processes when the *client* script completes.

**What you expected to happen**:

When the *client* script completes, the scheduler and worker processes should be shut down without error.

**Minimal Complete Verifiable Example**:

In a script called `client

[2022-04-19 22:12] kmpaul commented on #87
I believe that the appropriate solution to this problem is to remove the explicit `atexit`-registered function and require that the user call `Client.shutdown()` at the end of their script.

And I think there are additional simplifications that can be done following this change, but I need some time to think about it before writing anything more down.

[2022-04-19 23:14] kmpaul commented on #87
One note.  The `distributed.comm.core.CommClosedError` errors can be avoided by calling `Client.shutdown()` instead of Dask-MPI's `core.send_close_signal()`.  However, if we use:

[code]

this will still fail with Python >3.8 when used with `atexit` because the loop will be closed by the time `send_close_signal` is called.

[2022-04-20 19:09] kmpaul opened #88 "Batch-mode tests passing with raised exceptions"
**What happened**:

In Python 3.8 tests, the `dask_mpi/tests/test_core.py` and `dask_mpi/tests/test_no_exit.py` tests execute processes that raise exceptions at shutdown and return `0` exit codes.

**What you expected to happen**:

I would expect any test that raises an exception to return a non-`0` exit code.

**Minimal Complete Verifiable Example**:

With Python 3.8 on MacOS or Linux, run the co

[2022-04-20 19:49] #88 closed

[2022-04-20 19:50] kmpaul commented on #87
Note that even with the merge of #89, these errors still occur.

[2022-04-20 20:05] kmpaul commented on #87
One potential solution to this is to *not* use an `atexit` handler to shut down the cluster.  Instead, require that the user shutdown the cluster *manually* at the end of the script.  This would effectively mean that the canonical use case of `dask_mpi.initialize()` would change from:

[code]

with the `Client.shutdown()` method called by the `atexit` handler, to

[code]

with the `c.shutdown()` c

[2022-04-20 21:01] kmpaul commented on #87
## Possible API changes

If we have to break backwards compatibility, then I want to suggest some other changes that might work with the suggested changes above.

With @joezuntz's changes to allow users to pass into Dask-MPI an existing MPI communicator object and turn off explicit "shutdown" of the Dask cluster, there is now a foreseeable mechanism for stopping/restarting a Dask-MPI cluster from

[2022-04-25 09:52] jacobtomlinson commented on #87
I wonder if using a context manager would feel more natural here.

[code]

[2022-04-25 16:31] kmpaul commented on #87
@jacobtomlinson:  Yeah.  I was thinking of something like:

[code]

where the `MPICluster(...)` object would essentially be the `initialize(...)` method, except turned into a context manager with `finalize()` being called in `__exit__()`.

...but I don't like the nested `if` pattern.  It's fiddly and prone to errors, I think.

[2022-04-26 08:44] jacobtomlinson commented on #87
This is kind of where I was going with the `MPIRunner` class in https://github.com/dask/distributed/pull/4710 and https://github.com/dask/dask-mpi/pull/69. The `Cluster` class doesn't quite line up with the use case here, given that the job and resources already exist and we are trying to populate them, rather than create them in the first place. This is why I tried to add `Runner` and a sibling t

[2022-05-14 14:17] zhiyuli commented on #87
same issue here. I will try python3.8 for now

[2022-05-26 10:06] evgri243 commented on #87
Experience the same.

Can we think of some temporary workaround here? Maybe closing the MPI cluster manually after the c.shutdown or "request killing the workers/check worker count/repeat again if needed/close scheduler"? I do already implement exiting logic manually, so that I don't mind adding a few more lines...

[2022-05-26 12:12] kmpaul commented on #87
Yeah. If you have time for a PR, that would be great, @evgri243!

[2022-07-26 00:55] AlecThomson commented on #25
Just dropping into this thread as end-user who'd be really interested in taking advantage of a feature like this.

MPICH supports MPI-4.0 from [v4.0](https://github.com/pmodels/mpich/releases/tag/v4.0) and subset of MPI-4.0 is implemented in v5.0.x of OpenMPI, but is still [in-progress](https://github.com/open-mpi/ompi/projects/2).

[2022-10-05 18:19] lgarrison opened #94 "Worker raises `CommClosedError` on client shutdown"
**Describe the issue**:

I'm trying out a simple hello-world style `dask-mpi` example, and the computation returns the right result, but I'm getting exceptions when the client finishes.  I'm running the below script under Slurm as `srun -n3 python repro.py`, and the error is:

[code]

I thought this might be related to #87, but I'm running on Python 3.8 and there's just an exception, no hang.

Am

[2022-10-06 13:27] lgarrison commented on #94
Actually if I submit enough jobs to to the worker (1000+), the `run_on_scheduler(closeall)` doesn't seem to stop the exception from happening.

[2022-10-08 15:29] kmpaul commented on #94
These are errors I've seen before. I can't remember what is going on right now, but I'll look into it when I'm back in the office in a week. Sorry for the wait.

[2022-10-08 15:34] lgarrison commented on #94
Thanks! Let me know if you need me to run more tests.

[2022-10-11 01:54] YJHMITWEB opened #96 "f"

[2022-10-21 14:51] lgarrison commented on #94
Hi @kmpaul, have you had a chance to look at this?

[2022-10-21 23:33] kmpaul commented on #94
@lgarrison:  I have not, yet.  I'm sorry.  This week got very messy.  I absolutely _will_ look into this on Monday.  I'm sorry for the delay.

[2022-10-23 19:43] #96 closed

[2022-10-24 17:50] kmpaul commented on #94
@lgarrison:  I've verified the error on both Ubuntu and Rocky Linux.  This is actually a resurgence of #88, which notes exactly the issue that you are seeing.  I had thought this was fixed with #89, but it is clearly coming back.

[2022-10-24 17:54] kmpaul commented on #94
(Note that #89 actually changed the `atexit`-called `send_close_signal` function to  be exactly what @jacobtomlinson suggested you try, namely `client.shutdown()`.)

[2022-10-24 18:49] kmpaul commented on #94
...And I can further verify that these `CommClosedErrors` occur even for Python 3.10.6, on Linux and Windows.

[2022-10-24 19:02] kmpaul commented on #94
Due to the problems noted in #88 related to errors occurring during shutdown _not_ resulting in non-0 exit codes, the PyTest suite is not catching errors.  I think this is a significant problem and one that I will need some time to investigate and fix.  In the meantime, @lgarrison, it doesn't look like the exit-time errors are resulting in incorrect results.  Are you okay continuing "as-is" and ju

[2022-10-24 19:11] lgarrison commented on #94
Yes, I can ignore the errors for now. I'm working on instructions for scientists using our local HPC resources to farm out work to the cluster using dask-mpi, and I think these errors would be a source of confusion, even if the code executes correctly. So I can continue my experimentation, but I'll probably wait until this is fixed to start teaching users about it.

(Alternatively, if there's a wo

[2022-10-24 22:17] kmpaul commented on #94
Ok.  I'll keep plugging away to try to get a solution as soon as possible.

[2022-10-25 22:16] kmpaul commented on #94
Sigh.   @lgarrison: I've tracked down the errors to something beyond Dask-MPI.  You can test if you are seeing the same thing as me, but I'm seeing `CommClosedErrors` during client shutdowns _even without Dask-MPI_!

### MVP:

With the latest versions of Dask and Distributed (on Linux), do the following.

In **Terminal 1**:
[code]

Note the `ADDRESS` in the `Scheduler at:  ADDRESS:8786` log messag

[2022-10-25 22:41] lgarrison commented on #94
Interesting, thanks! I was also able to reproduce this without dask-mpi following your instructions.  I confirm that `client.retire_workers()` avoids the error, but when I add it to my reproduction script before client shutdown, it doesn't help.  Sleeping between the retirement and shutdown doesn't help either.

So, should I open an issue in an upstream repo? Would that be `dask/distributed`?

[2022-10-25 22:45] kmpaul commented on #94
I'm opening an upstream issue right now.  I'm seeing if I can figure out with Dask version introduced the regression.  Then I'll submit the issue and report it here.

[2022-10-25 22:48] kmpaul commented on #94
There is definitely some strangeness produced by Python's `async` functions, here.  When tests are run in `dask-mpi`, for example, and an `async` error occurs at shutdown, the process still ends with an exit code of `0`.  That really obscures problems that occur from changes upstream.

[2022-10-25 23:19] kmpaul commented on #94
Ok.  The Dask Distributed issue has been created (dask/distributed#7192).  I'm not sure how much more I want to do on Dask-MPI until I hear back about that issue, lest I spend too much time trying to design about an upstream bug.  So, I'll return to Dask-MPI if/when I hear about a solution to dask/distributed#7192.

[2022-10-26 20:57] kmpaul commented on #94
@lgarrison: If you are following what is happening in dask/distributed#7192, then you probably know that I tried the `sleep` trick in my test and it _actually worked_.  That was not your experience.  How long did you `sleep` for between `retire_workers` and `shutdown`?

[2022-10-26 20:58] kmpaul commented on #94
(My thinking is that with a large number of workers, the `retire_workers` call could take quite a while to complete.)

[2022-10-28 17:51] lgarrison opened #97 "Non-MPI backends (e.g. Slurm)"
Since a "major makeover" was mentioned for dask-mpi in dask/distributed#7192, I thought I would ask if support for non-MPI backends was a possibility.  That is, use something like Slurm's `srun` to launch the ranks even if MPI is not available.

The reason I think this may be possible is because as far as I can tell, MPI is only being used to broadcast the address of the scheduler to the workers.

[2022-10-28 18:28] mrocklin commented on #97
Perhaps you are looking for https://jobqueue.dask.org/en/latest/ ?

On Fri, Oct 28, 2022 at 12:52 PM Lehman Garrison ***@***.***>
wrote:

[2022-10-28 19:11] lgarrison commented on #97
I'm actually looking for something that can run a dask cluster within an existing Slurm allocation.  My understanding is that jobqueue submits Slurm jobs itself; my use-case is that I already have an allocation, and I'd like to start up dask within it.

Taking a step back, I'd like something that can dynamically schedule generic Python tasks within a given allocation of resources.  For the most pa

[2022-10-28 21:12] kmpaul commented on #97
@lgarrison:  Yes.  Dask-MPI is just a convenience function.  As you point out, MPI is _not_ used for client-scheduler-worker communication.  MPI is only used to communicate the scheduler address to the worker processes (and the client process, if used with the `initialize` function).  Earlier implementations of Dask-MPI actually _required_ a shared filesystem because the scheduler shared its addre

[2022-10-28 21:44] lgarrison commented on #97
Yes, I think that's exactly right.  I'll test out the `--scheduler-file` mechanism to confirm that this is the case. Thanks!

[2022-10-29 19:55] YJHMITWEB opened #98 "Non-blocking operations on scheduler"
Hi, this is just a general discussion on the scheduler's behavior. I noticed that in `initialize`:

[code]
The scheduler only starts with 1 thread, and since the scheduler has to maintain communication with all workers and client, I'm very curious that once there is an `await` call, then the schedule will simply block itself there, and only when after that `await`, it can start to do other communi

[2022-10-29 23:04] kmpaul commented on #98
This seems to be a question more for the Distributed community. Dask-MPI is just the tool for launching a Dask cluster.

[2022-10-30 00:37] kmpaul commented on #98
Also, all communication between the scheduler and workers is asynchronous. So, nothing is blocking.

Is there a particular use case you are having problems with?

[2022-10-31 13:53] lgarrison commented on #97
I did realize that one other piece is needed to get this to work, besides the `scheduler-file` option, which is a way for processes to identify their rank.  In a Slurm context, this means that processes need to read the `SLURM_PROCID` environment variable.  Easy enough, but there will need to be an abstraction where different bootstrap contexts can define how they determine the rank.

@jacobtomlin

[2022-10-31 17:00] jacobtomlinson commented on #97
This sounds like a good track but I don't think it belongs in `dask-mpi` given that it isn't MPI related. It also isn't best for it to go in `distributed`. Maybe `dask-jobqueue` is the right location given that it is job queue specific functionality (cc @guillaumeeb)? If not then a separate package.

This is why I tried to abstract things out in `distributed` so that other projects could reuse thi

[2022-11-01 06:26] YJHMITWEB commented on #98
Oh thanks, I get it. But in case where all the communication happens at the same time, then even with async func, since the scheduler only has 1 thread, it is still going to be sequential.

[2022-11-01 09:36] jacobtomlinson commented on #98
@pentschev may have some thoughts

[2022-11-01 13:12] pentschev commented on #98
On a Dask worker, communication occurs on a different thread than that of compute. On the scheduler you're right that communication occurs on the same thread as the remaining of the work and that may in fact block at times, and I don't think there's currently a mechanism to allow offloading communications to a(multiple) separate thread(s). However, under normal circumstances, messages transferred

[2022-11-02 16:07] lgarrison commented on #97
I agree it's a bit odd to have a package named `dask-mpi` support non-MPI bootstrapping, but the amount of Slurm stuff that would have to go in `dask-mpi` is so minimal that it seems overkill to loop in another package.  The entire abstraction probably looks like:

[code]

This could also be an interesting use case for entry points, which would allow an external package to register a bootstrapping

[2022-11-02 16:22] jacobtomlinson commented on #97
I agree it's a shame for such a small amount of code to cause this discussion, but I'm really not sure this proposal makes sense.

Given that this whole library is like ~200 lines of code I don't think there would be much pushback to making a PR into `dask-jobqueue` that implements a slurm runner and copy/pastes a chunk from here (although ideally that common chunk would be upstreamed into `distri

[2022-11-02 16:51] lgarrison commented on #97
`dask-jobqueue` seems to have minimal dependencies, so on that front I'd be happy enough if the `dask-mpi` framework were copy-pasted over there.  It just seemed orthogonal to what `dask-jobqueue` wants to do, which is launch and manage its own Slurm jobs.

Perhaps more importantly, I can see many users upon being directed to the `dask-jobqueue` package getting confused and using the job-submissio

[2022-11-03 07:57] guillaumeeb commented on #97
Hi everyone,

Yes, things like that have been discussed in the past. In the HPC world, between `dask-jobqueue` and `dask-mpi` functionalities, there are multi nodes allocations (subject of this discussion), and job arrays possibilities. There are several other threads in `dask-jobqueue`: https://github.com/dask/dask-jobqueue/issues/459, https://github.com/dask/dask-jobqueue/issues/196, https://git

[2022-11-03 10:11] jacobtomlinson commented on #97
That all sounds reasonable. I think the key difference between `dask-mpi` and other deployment packages is that it runs inside an existing multi-node allocation and just fills it with a Dask cluster. I think this deployment paradigm is underserved currently. I'm going to continue referring to this paradigm as a "dask cluster runner" as opposed to the `dask-jobqueue` paradigm which we typically cal

[2022-11-03 13:36] guillaumeeb commented on #97
I didn't thought about all that, given that I've not looked a lot into `dask-mpi` internals, or even use it much. The most part of `dask-jobqueue` code is about generating and submitting job scripts. In `dask-mpi`, and this proposal, the user is responsible for writing the job script, and he just want to use some wrapper code in it to start a Dask cluster. Indeed, that is a big difference.

This i

[2022-11-03 16:44] jacobtomlinson commented on #97
I agree the deployment paradigm is a big difference, but I think that's ok. If you're worried about maintaining a SLURM runner in `dask-jobqueue` falling on your shoulders all I can do if offer to help maintain it.

This is tempting, we could just rename this repo and then put the SLURM runner in here too. Packaging would get more complex because MPI would need to be made optional.

However I worr

[2022-11-03 16:59] guillaumeeb commented on #97
Not at all! You've seen over the years that I'm not always available to maintain things, so I won't feel the responsibility for this :smile:.

I just think I'm not seeing yet what really _is_ a runner, or at least this one, and how it would integrate into `dask-jobqueue`.

Do you think we could share part of the runner code and use it in `SlurmCluster` internals at some point? This would make a lo

[2022-11-03 18:04] lgarrison commented on #97
This would fit well with the use case I had in mind.  I agree the dependency management would be more complex, but maybe specifying optional dependencies like `pip install dask-hpc[slurm]` or `pip install dask-hpc[mpi]` would help keep things organized.

If I understand correctly, the concern is that you want to be able to reuse, e.g., cloud-specific utilities that live in `dask_cloudprovider`.  I

[2022-11-04 14:46] jacobtomlinson commented on #97
The way I see it the cluster managers that we have inside `dask-jobqueue` create jobs and tell them exactly what to do. They submit a scheduler, submit workers individually and tell them how to coordinate. The cluster is actively created and managed from the outside, usually within the client code.

The runner in `dask-mpi` as well as the SLURM runner being proposed here is basically a function th

[2022-11-04 15:19] kmpaul commented on #97
Okay.  I was unavailable the last couple of days to respond, so I recognize that I'm coming back to this conversation a bit late.  I wanted to add some thoughts to the discussion, at the risk of throwing a spanner in the works.

As has been pointed out, it only uses MPI to determine the "rank" of each running process and to broadcast the scheduler's address to the workers.  Also as pointed out alr

[2022-11-04 15:47] jacobtomlinson commented on #97
Interesting points @kmpaul.

To thow another spanner in the Dask team at NVIDIA is exploring a more powerful "single-command launcher" for workers. Today we have `dask-worker` for CPU and `dask-cuda-worker` for GPU and we are looking to unite those somehow with some more flexible nanny implementation.

I played with this a while ago in [dask-agent](https://github.com/jacobtomlinson/dask-agent) but